@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 14px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  html {
    -webkit-tap-highlight-color: transparent;
  }
  input:focus {
    outline: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ol,
  ul {
    list-style: none;
  }
  li {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /** 버튼회색배경, 보더 없애기, 커서 포인터 주기**/
  button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }
}

@layer components {
  .flex-center {
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }

  .main-base {
    @apply flex-center;
    @apply w-full;
    @apply h-full;
    @apply bg-slate-100;
  }

  .form-base {
    @apply flex-center;
    @apply flex-col;
    @apply w-[500px];
    @apply min-h-[300px];
    @apply border-solid;
    @apply p-5;
    @apply rounded-lg;
    @apply shadow-xl;
    @apply bg-slate-50;
  }

  .login-input-area {
    @apply flex-center;
    @apply flex-col;
    @apply w-full;
    @apply min-h-[50px];
    @apply mb-10;
  }

  .login-input {
    @apply h-[30px];
    @apply ml-3;
    @apply rounded-lg;
    @apply shadow-lg;
    @apply py-3;
    @apply px-5;
  }

  .login-area-buttons {
    @apply flex-center;
    @apply w-1/2;
    @apply rounded-lg;
    @apply shadow-lg;
    @apply py-2;
    @apply text-white;
  }

  .todo-list-item-base {
    @apply flex-center;
    @apply h-[100px];
    @apply mb-10;
  }

  .todo-list-item {
    @apply todo-list-item-base;
    @apply rounded-lg;
    @apply shadow-lg;
    @apply p-3;
    @apply bg-white;
  }

  .todo-list-add {
    @apply flex-center;
    @apply w-[100px];
    @apply h-full;
    @apply rounded-full;
    @apply pb-6;
    @apply bg-zinc-300;
    @apply text-8xl;
    @apply text-white;
    @apply cursor-pointer;
  }

  .button-base {
    @apply py-2;
    @apply px-4;
    @apply rounded-md;
    @apply shadow-lg;
    @apply text-white;
  }

  .button-modify {
    @apply button-base;
    @apply bg-blue-300;
  }

  .button-alert {
    @apply button-base;
    @apply bg-red-300;
  }
}

@layer utilities {
}
